<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pedropuppin" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/pedropuppintattoo/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/pedro-puppin-82b770250/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Teste app <i class="fa-solid fa-poo"></i></i> help
  </div>
</div>
